p {
       background-color: rgb(255, 183, 121);
}
p {
       border: 5px solid rgb(104, 195, 218);

}
.first {
       border-style: dashed;
       border-color: rgb(129, 46, 46);
       letter-spacing: 5px;
       text-align: left;
       text-shadow: 2px 2px 2px;
       width: 300px;
       margin-right: 20px;
       width: 200px;
       display: inline-block;
       visibility: hidden;
}
.second {
       border-style: solid;
       border-color: rgb(50, 124, 50);
       margin-right: 20px;
       text-align: right;
       width: 200px;
       display: inline-block;
       display: none;
}
.third {
       border-style: dashed;
       border-color: rgb(129, 46, 46);
       text-align: center;
       margin-right: 20px;
       width: 200px;
       display: inline-block;
}
#firstparagraph::first-letter {
       font-weight: bold;
       font-size: 28x;
}
h1 {
       width: 960px;
       background-color: rgb(49, 90, 76);
       margin: auto;
       text-align: center;
       padding-top: 50px;
       padding-bottom: 50px;
       color: rgb(180, 147, 102);
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       box-shadow: 10px 10px 10px 10px rgb(207, 180, 145);
       border-radius: 42px 8px 20px;
}

















