#firstUl {
    list-style-type: circle;
}
#secondUl {
    list-style-type: square;
}
#firstOl {
    list-style-type: upper-alpha;
}
#secondOl {
    list-style-type: roman;
}
#firstImgUl {
    list-style-type: none;
}
#secondImgUl {
    list-style-type: none;
    width: 200px;
    list-style-position: inside;
}