header {
    background-color: #e42b2b;
    color: rgb(255, 255, 255);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 25px;
}
.wrapper {
    display: flex;
    justify-content: space-between;
}
.wrapper {
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
}
main .wrapper {
    display: inline;
    flex-wrap: nowrap;
}
main .wrapper > div {
    width: 31%;
    margin-right: 3.5%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main .wrapper > div img {
    width: 100%;
}
main .wrapper > div p {
    font-size: 19px;
}
iframe {
    /* display: none; */
    width: 100%;
    height: 0;
    transition: all .5s ease;
}
iframe.visible {
    /* display: block; */
    height: 315px;
}
.all {
    width: 100%;
    max-width: 1020px;
    margin: auto;
}